
  @import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
  @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
  @import url('https://fonts.googleapis.com/css?family=Electrolize|Roboto+Mono');
  @import url('https://fonts.googleapis.com/css?family=Oswald');

  /*font-family: 'Roboto Mono', monospace;
  font-family: 'Oswald', sans-serif;
font-family: 'Electrolize', sans-serif;*/

    .flexcolumnontainer1{
      display: flex !important;
      flex-direction: column !important;
    }
    .flexrowcontainer1{
      display: flex !important;
      flex-direction: row !important;
    }
    .flex1{
      display: flex !important;
      flex: 1 !important;
    }

    @media print {
      .cardside1{
        width: 263px !important;
        height: 150px !important;
        background-color: #141414 !important;
        color: #45D40C !important;
        margin: 100px !important;
        -webkit-print-color-adjust: exact;
        text-align: center !important;
        position: relative !important;
        line-height: 1px !important;
        justify-content: center !important;
      }
    }

    @media print {
      .header{
        position: absolute;
        font-family: 'Roboto Mono', monospace;
        top: 5% !important;
        left: 35% !important;
      }
    }

    @media print {
      .contact{
        position: absolute;
        font-family: 'Oswald', sans-serif;
        top: 55% !important;
        left: 50% !important;
        font-size: 8px !important;
        line-height: 5px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }

    @media print {
      .body{
        position: absolute;
        font-family: 'Electrolize', sans-serif;
        top: 22% !important;
        left: 41% !important;
        font-size: 10px !important;
        line-height: 5px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }




    @media print {
      .cardside2{
        text-align: center !important;
        width: 263px !important;
        height: 150px !important;
        font-size: 7px;
        font-weight: bolder;
        background-color: #F7F4EA !important;
        font-family: 'Diplomata SC', cursive;
        color: #001514 !important;
        margin: 100px !important;
        -webkit-print-color-adjust: exact;
        line-height: 1px !important;
      }
    }

    @media print {
      .pmargin{
        margin-top: 110px !important;
      }
    }

    @media print {
      .pmargin2{
        margin-top: 10px !important;
      }
    }

    @media print {
      .pmargin3{
        margin-top: 10px !important;
      }
    }


  @media print {
    .platypus{
      height: 150px !important;
      width: auto !important;
      top: 0% !important;
      left: -20% !important;
      position: absolute !important;
    }
  }

  @media print {
    .phone{
      height: 55px !important;
      width: auto !important;
      top: 60% !important;
      left: 30% !important;
      position: absolute !important;
    }
  }

  @media print {
    .terminal{
      height: 90px !important;
      width: auto !important;
      top: 470px !important;
      left: 187px !important;
      position: absolute !important;
    }
  }

  /*@media print {*/
    .floppydisk:after{
    content:"\01F4BE";
    font-size: 20px;
    }
  /*}*/
